.logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust margin as needed */
}

.logout-button:hover {
    background-color: #45a049; /* A slightly darker green on hover */
}
